body {
    font-family: Monaco, monospace;
    max-width: 600px;
    text-align: center;
    margin: auto;
}

input, select {
    font-family: Monaco, monospace;

}

form {
    /*display: inline;*/
}

.center {
    text-align: center;
    margin: auto;
    /*width: 400px;*/
    border: 1px solid #555555;
}

textarea {
    width: 100%;
    max-width: 400px;
    height: 100px;
}

.login-button {
    border: 1px solid #555555;
    padding: 10px;
    width:100px;
    margin: auto;
    border-radius: 10px;
}

iframe {
    width: 400px;
    height: 199px;
}

.message {
    font-weight: bold;
    color: red;
}

.message:before {
    content: "»";
    margin-right: 6px;
}

.preview {
    margin: auto;
    width: 400px;
}

.input-group {
    margin: 10px;
}

.community_posts {
    width: 400px;
    margin: auto;

}
.comm_post {
    border-bottom: 1px solid black;
    margin: 10px 0 10px 0;
    text-align: left;
}

.preview_image {
    max-width: 200px;
}
