{% extends "layout.html.j2" %}
{% block body %}

    {% include 'masto_auth.html.j2' %}

    <p>Posts from the Community</p>

    <div class="community_posts">
    {% for post in posts %}
        <div class="comm_post">
            <div class="user">
                From <a target=_new" href="{{ post.user.profile_link }}">{{ post.user.mastodon_user }}</a> •
                <a target=_new" href="{{ post.post_link }}">View Post</a>

                {% if post.user_id == session.user_id %}
                • <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a>
                {% endif %}
            </div>
            <div class="comment">{{ post.comment }}</div>
            <div class="preview">
            {{ post.preview_content() }}
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
