{% extends "layout.html.j2" %}
{% block body %}

    {% include 'masto_auth.html.j2' %}

    <p>Posts from the Community</p>

    <div class="community_posts">
        {% for post in posts %}
            <div class="comm_post">
                <div class="user">
                    <div><a target=_new" href="{{ post.post_link }}">Posted {{ post.relative_date }}</a> by <a target=_new" href="{{ post.user.profile_link }}">{{ post.user.mastodon_user }}</a>
                    {% if post.user_id == session.user_id %}
                        • <a href="{{ url_for('delete_post', post_id=post.id) }}">Delete</a>
                    {% endif %}
                    </div>
                </div>
                <p class="comment">{{ post.comment }}</p>
                {{ post.preview_content() }}
            </div>
        {% endfor %}
    </div>
{% endblock %}
