<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ app.config.get('SITE_NAME') }}</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ app.config.get('SITE_URL') }}"/>
    <meta property="og:title" content="Tusk Rocks"/>
    <meta property="og:description" content="Post songs to the fediverse"/>

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:title" content="Tusk Rocks"/>
    <meta name="twitter:description" content="Post songs to the fediverse"/>

</head>
<body>
<div class="center">
    <p>(this is hella alpha)</p>

    <p><a href="{{ url_for('post') }}">Post</a> | <a href="{{ url_for('community') }}">Community</a></p>

    <p id="cookiecheck" class="message" style="display: none;">Please allow cookies for this site or it won't work
        properly.</p>

    {% for message in get_flashed_messages() %}
        <p class=message>{{ message }}</p>
    {% endfor %}

    {% block body %}{% endblock %}

    <p>Powered by <a href="https://song.link">Songlink</a></p>

</div>
<script>
    if (!navigator.cookieEnabled) {
        var el = document.getElementById('cookiecheck');
        el.style.display = "block";
    }
</script>
</body>
</html>
