{% extends "layout.html.j2" %}
{% block body %}
    <form action="{{ url_for('mastodon_login') }}" method="POST">
        {{ mform.mastodon_id.label }}:{{ mform.mastodon_id(placeholder='yourid@mastodon.instance', size=30) }}
        {{ mform.csrf_token }}
        <input type=submit value="OK">
    </form>

{% endblock %}
