{% if g.m_user %}
    <p>Mastodon: <strong>{{ g.m_user.username }}@{{ g.m_user.host }}</strong></p>
    <div class="login-button"><a href="{{ url_for('logout') }}">Logout</a></div>
{% else %}
    <div class="login-button">
        <a href="{{ url_for('mastodon_login') }}">Connect your Mastodon Account</a>
    </div>
{% endif %}
<hr>
