{% if session.mastodon %}
    <div class="center"><strong>{{ session.mastodon.username }}@{{ session.mastodon.host }}</strong></div>

{% else %}
    <div class="login-button">
        <a href="{{ url_for('mastodon_login') }}">Connect your Mastodon account to post</a>
    </div>
{% endif %}
<hr>
