{% if session.mastodon %}
    <p><strong>{{ session.mastodon.username }}@{{ session.mastodon.host }}</strong></p>

{% else %}
    <div class="login-button">
        <a href="{{ url_for('mastodon_login') }}">Connect your Mastodon Account</a>
    </div>
{% endif %}
<hr>
