{% extends "layout.html.j2" %}
{% block body %}
    {% include 'masto_auth.html.j2' %}

    {% if session.mastodon %}
        <form method="POST" action="{{ url_for('post') }}">
            <div class="input-group">
                <div>{{ sform.comment.label }}</div>
                <div>{{ sform.comment(size=500) }}</div>
            </div>

            <div class="input-group">
                <div>{{ sform.toot_visibility.label }}</div>
                <div>{{ sform.toot_visibility }}</div>
            </div>

            <div class="input-group">
                <div>{{ sform.share_link.label }}</div>
                <div>{{ sform.share_link(placeholder="Plug in any kind of streaming link you like", size=50) }}</div>
            </div>

            {% if is_preview %}
                <div class="preview">
                    <div>Preview</div>
                    {{ preview_data }}
                </div>
            {% endif %}

            <input type="submit" name="task" value="Preview">
            {% if is_preview %}
                <input type="submit" name="task" value="Send">
            {% endif %}

            {{ sform.csrf_token }}
        </form>

    {% endif %}

{% endblock %}
