{% extends "layout.html.j2" %}
{% block body %}
    {% include 'masto_auth.html.j2' %}

    {% if session.mastodon %}
        <script>
        function addText(event) {
            var targ = event.target || event.srcElement;
            document.getElementById("comment").value += " " + targ.textContent || targ.innerText;
        }
        </script>
        <form method="POST" action="{{ url_for('post') }}">
            {% if is_preview %}
                <div class="input-group">
                    <div>{{ sform.comment.label }}</div>
                    <div>{{ sform.comment(size=500) }}</div>
                    <button type="button" onclick="addText(event)">#nowplaying</button>
                </div>
            {% endif %}

            {% if is_preview %}
                <div class="preview">
                    <div class="center">
                        <a target="_new" href="{{ post.song_link }}">
                            {% if title %}
                                <p class="preview_title">{{ post.title }}</p>
                            {% else %}
                                <p class="preview_title">{{ post.song_link }}</p>
                            {% endif %}
                            {% if post.album_art %}
                                <img alt="{{ post.title }}" class="preview-img" src="{{ post.album_art }}">
                            {% endif %}
                        </a>
                    </div>
                </div>
            {% endif %}

            <div class="input-group">
                <div>{{ sform.share_link.label }}</div>
                <div>{{ sform.share_link(placeholder="Plug in any kind of streaming link you like", size=50) }}</div>
            </div>


            <div class="input-group">
                <div>{{ sform.toot_visibility.label }}</div>
                <div>{{ sform.toot_visibility }}</div>
            </div>

            <input type="submit" name="task" value="Preview">
            {% if is_preview %}
                <input type="submit" name="task" value="Send">
            {% endif %}

            {{ sform.csrf_token }}
        </form>

    {% endif %}

{% endblock %}
